body,html
{
    height: 100%;
    background-color: aqua;
    
}
*
{
  box-sizing: border-box;
}


  .hero-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(5px);
    
  }
  .img{
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/4a/20/a0/4a20a0a1ef23ee073e99d6df19914411.jpg");
  
    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
/*#form-div
{
    
     left:500px;
  -webkit-box-shadow: 0 0 5px 5px rgb(153, 141, 141);
    -moz-box-shadow: 0 0 5px 5px rgb(153, 141, 141);
    box-shadow: 0 0 5px 5px rgb(153, 141, 141);
     border-radius: 10px;
}*/
.div-form1
{
    
    /* left:500px;*/
  border: 2px solid black;
}

.submit{
display: flex;
justify-content: center;  
  }